body {
    margin: 0;
    overflow-x: hidden;
}

.topFixedBanner{
    background-image: url("../image/banner.jpg") ;
    min-height: 550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.topBannerOverlay{
    position: absolute;
    min-height: 550px;
    width: 100%;
    background: rgb(0, 0, 0, 0.7);
}

.topContent{
    margin-top: 15em;
}

.topBannerOverlay .topTitle{
    font-family: Monserrat, sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 48px;
}

.topBannerOverlay .topSubTitle{
    font-family: Raleway, sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
}

.ecommerceIcon{
    height: 80px !important;
    width: 80px !important;
}

.designIcon{
    height: 80px !important;
    width: 80px !important;
}
.webIcon{
    height: 80px !important;
    width: 80px !important;
}
.serviceCard{
    margin: 5px 5px 5px 5px ;
    height: 22rem;
    padding: 60px 30px 60px 30px ;
    box-shadow: 0 0 8px 0 rgb(4, 55, 105,  0.2);
}

.serviceCard:hover{
    margin: 5px 5px 5px 5px ;
    height: 22rem;
    padding: 60px 30px 60px 30px ;
    box-shadow: 0 0 16px 0 rgb(4, 55, 105,  0.2);
}
.serviceName{
    color: #051b35 !important;
    margin-top: 1rem;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-weight: 600;

}

.serviceDescription{
    color: #051b35 ;
    margin-top: 1rem;
    font-family: Raleway, sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: justify !important; ;
    align-content: center;
}
.serviceMainTitle{
    color: #051b35;
    margin-top: 5rem;
   margin-bottom: 3rem;
    font-family: Monserrat, sans-serif;
    font-weight: 700;
    font-size: 28px;
}

.bottom{
    background-color: #051b35;
    height: 3px;
    width: 100px;
    margin: -1.9rem auto 0;
    margin-bottom: 3rem;
}

.navTitle{
    font-family: 'Monserrat', sans-serif;
    color: #ffffff !important;
    font-weight: 700;
    font-size: 30px;
}

.navTitleScroll{
    font-family: 'Monserrat', sans-serif;
    color: #051b35 !important;
    font-weight: 700;
    font-size: 30px;
}

.navBackground{
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: #051b35;
}

.navBackgroundScroll{
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: #ffffff;
    box-shadow: 0 0 8px 0 rgba(0, 115, 230, 0.3) !important;
}
.navItem{
    text-decoration: none !important;
    font-family: 'Monserrat', sans-serif;
    color: #ffffff ;
    font-weight: 700;
    font-size: 16px;
}
.navItemScroll{
    text-decoration: none !important;
    font-family: 'Monserrat', sans-serif;
    color: #000000 !important;
    font-weight: 400;
    font-size: 16px;
}
.summaryBanner{
    background-image: url("../image/summary.jpg") ;
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.summaryBannerOverlay{
    position: absolute;
    min-height: 400px;
    width: 100%;
    background: rgb(27, 31, 92, 0.7);
}

.countNumber{
    color: #ffffff !important;
    font-family: 'Monserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;

}
.countTitle{
    color: #ffd900 !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;

}
.countSection{
    margin-top: 10%;
}

.cardTitle{
    color: #000000 ;
    font-family: 'Monserrat', sans-serif ;
    font-weight: 700 ;
    font-size: 15px !important;

}
.cardSubTitle{
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px !important;
    text-align: justify;
}
.workCard{
    width: 25rem;
    margin-top: 15%;
    padding: 10px 10px 10px 10px;
    border-radius: 3px ;
}

.iconBullent{
    color: #051b35;
    font-size: 16px;
}

.iconProject{
    color: #ffffff;
    font-size: 40px;
}

.projectCard{
    background-color: white;
    width: 25em !important;
    border-radius: 0.6em;
    margin: 1em;
    cursor: pointer;
    box-shadow: 0 13px 25px -5px;
    transition: all ease 200ms;
}

.projectCard:hover{
    transform: scale(1.03);
    box-shadow: 0 13px 30px -5px;

}

.courseImg{
    width: 100%;
    padding: 8px;
}

.courseViewMore{
    color: #051b35;
    font-family: 'Monserrat', sans-serif ;
    font-weight: 600 ;
    font-size: 15px ;
    text-decoration: none;
}

.aboutMeImage{
    width: 450px;
    height: 450px;
    background-color: #051b35;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.aboutImg{
    height: 100%;
}
.aboutMeBody{
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-top: 8rem;
    text-align: center ;

}

.aboutMeDetails{
    color: #051b35;
    font-family: 'Raleway', sans-serif;
    font-weight: 600 ;
    font-size: 24px ;
}

.aboutMeTitle{
color: #051b35;
    font-family: 'Monserrat', sans-serif ;
    font-weight: 700 ;
    font-size: 40px ;
}

.stickyNavBar {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%; /* Ensure full width */
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}
.footerSection{
    margin-top: 5rem;
    box-shadow: 0 0 8px 0;
    background-color: #051b35;
}
.footerName{
    color: white !important;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif ;
    font-size: 22px;
    font-weight: 600;


}

.socialContainer{
    margin-top: 30px;
    text-align: center;
    justify-content: center;
}

a.social{
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}
a.social:hover{
    transform: translateY(-2px);
}

a.facebook{
    color: white;
}
a.youtube{
    color: white;
}
a.twitter{
    color: white;
}

.footerDescription{
    color: #e9e8e8;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif ;
    font-size: 15px;
    font-weight: 600;
    text-align: justify;
    justify-content: center;
}
.footerLink{
    text-decoration: none;
    font-family: 'Raleway', sans-serif ;
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-align: justify;
    justify-content: center;



}

.footerLink:hover{
    text-decoration: none;
    color: #ffd900;
}

.copyrightSection{
    padding: 20px 20px 20px 20px;
    background-color: #002c61;
    text-align: center;
    justify-content: center;
}
.copyrightLink{
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif ;
    font-size: 15px;
    font-weight: 600;

}

.copyrightLink:hover{
    text-decoration: none;
    color: white;
}

.topFixedPage{
    background-image: url("../image/page.png") ;
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.topPageOverlay{
    position: absolute;
    min-height: 350px;
    width: 100%;
    background: rgb(19, 1, 102, 0.7);
}

.topContentPage{
    margin-top: 8em;
}

.topPageOverlay .topPageTitle{
    font-family: Monserrat, sans-serif;
    font-weight: 700 !important;
    color: #ffee00 !important;
    font-size: 40px;
}

/*  Home Page Welcome Design  */
.intro-area--top{
    width: 100%;
    margin-top: -70px;
    position: relative;
    z-index: 2;
}

.section-title{
    margin-bottom: 45px;
    position: relative;
    text-align: center;
}
.section-title .sub-title{
    font-weight: 500 ;
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    text-align: center;

}
.section-title .sub-title.double-line:before{
    content: "";
    position: absolute;
    left: -50px;
    top: 50%; /* Adjust the position to center the lines vertically */
    transform: translateY(-50%); /* Center the lines vertically */
    height: 3px;
    width: 40px;
    background: #051b35;
}
.section-title .sub-title.double-line:after{
    content: "";
    position: absolute;
    right: -50px;
    top: 50%; /* Adjust the position to center the lines vertically */
    transform: translateY(-50%); /* Center the lines vertically */
    height: 3px!important;
    width: 40px!important;
    background: #051b35;

}
.intro-area-inner{
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px rgb(0 0 0 / 7%);
    background: white;
    padding: 90px 0 0 ;
    border-radius: 8px;
}

.mainTitle{
    font-family:'Monserrat', sans-serif ;
    font-weight: 700;
    color: #051b35;
    font-size: 40px;
    text-align: center;
}

.intro-footer{
    padding: 30px 30px 10px;
    border-radius: 0 0 7px 7px;
}
.bg-base{
    background: #fdc800;
}

.sideImg{
    margin-top: 15px;
}
.homeIntro{
    font-family:'Monserrat', sans-serif ;
    font-weight: 700;
    color: #051b35 !important;
    font-size: 16px;
    text-align: justify;
}

.link-style{
    color: white !important;
    text-decoration: none !important;
}

.link-style:hover{
    color: white !important;
    text-decoration: none !important;
}

.about-thumb-wrap.after-shape{
margin-right: 30px;

}
.about-thumb-wrap.after-shape:after{
    content: "";
    position: absolute;
    right: 180px;
    width: 154px;
    height: 80%;
    top: 50%;
    border-radius: 10px;
    background: #fdc800;
    z-index: -1;
    transform: translateY(-50%);

}
.project-details{
    margin-left: 35px !important;
}
.projectDetailsText{
    font-family:'Monserrat', sans-serif ;
    font-weight: 700;
    color: #051b35 !important;
    font-size: 40px;
}

.detailsName{
    color: #051b35;
    font-family: 'Raleway', sans-serif ;
    font-size: 15px;
    font-weight: 600;

}
.float-left{
    font-family:'Monserrat', sans-serif ;
    color: #051b35;
    font-weight: 300;
    font-size: 16px;
}

/* Course Details */
.courseDetailsText{
    font-family:'Monserrat', sans-serif ;
    color: #051b35;
    font-weight: 700;
    font-size: 35px;
}
.courseDetailsImg{
    width: 100%;
}
.courseDetailsImg, .serviceDescription {
    width: 100%;
    box-sizing: border-box;
}
.courseallDescription{
    font-family:'Monserrat', sans-serif ;
    color: #051b35;
    font-weight: 700;
    font-size: 15px;
}
.widget-feature{
    border: 1px solid #cbd6e2;
}
.widget-feature ul{
    padding: 0 25px 20px;
}

.widget-feature ul li{
    color: #051b35;
    font-size: 16px;
    margin-bottom: 9px;
    list-style: none;
}
.widget-feature ul li span{
    font-family:'Monserrat', sans-serif !important; ;
    color: #051b35!important;;
    font-weight: 700!important;;
    margin-right: 5px!important;;
}

.widget-feature .price-wrap{
    background-color: #f0f4f9;
    padding: 34px 23px 40px;
}
.widget-title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-family: 'Monserrat', sans-serif ;
    font-weight: 700;
    position: relative;
    text-align: center;
}

